/* ===== App Layout ===== */
.app-layout {
  width: 100%;
  min-height: 100vh;
}
/* เปลี่ยนสีพื้นหลังทั้งหน้าจอเมื่อติด Dark Mode */
body.dark-mode {
  background-color: #0f172a; /* สีมืดเดียวกับ body-content */
}